[Unit]
Description=Gunicorn instance for a sbtree backend
After=network.target
[Service]
User=ec2-user
Group=www-data
WorkingDirectory=/home/ec2-user/sbtree_test
ExecStart=/bin/bash sh backend.sh
Restart=always
[Install]
WantedBy=multi-user.target