[Unit]
Description=Gunicorn instance for a backend
After=network.target
[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/sbtree_test/app
ExecStart=/bin/bash /home/ec2-user/sbtree_test/app/backend.sh
Restart=always
[Install]
WantedBy=multi-user.target